.Login {
  display: flex;
  flex-direction: row; 
  align-items: center;
  position: relative;
  right: -20px;
}
.Profile {
  text-align: center;
  position: absolute;
  right: 20px;
  top: 60px;
  padding: 30px;
}
.Profile:after {
  content: "";
  display: block;
  position: absolute;
  height: 10px;
  width: 10px;
  top: -5px;
  right: 10px;
  transform: rotate(45deg);
  background-color: white;
}
.username {
  margin: 0 10px;
  font-size: 18px;
}
.inverted-palette {
  color: white !important;
}

@media (max-width: 800px) {
  .username-appbar {
    overflow: hidden;
    max-width: 80px;
    white-space: nowrap;
  }
}